# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# Backend
backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
backend/service/*/etc/*.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
